body {
    margin: 0;
    font-family: serif;
    background-color: #DDD;
}

#phaser {
    width: 100%; 
}

#texto {
    text-align: center; /* centrar */
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #250;
    font-weight: 800; /* grosor de la fuente*/    
}

#Mapa {
    margin: auto;
    max-width: 500px; /* ancho maximo */
    padding-bottom: 100px; /* margin interno inferior */
}

.creditos {
    text-align: center;  /* centrar */      
    margin: auto;
    max-width: 500px; /* ancho maximo */
    padding-bottom: 100px;  /* margin interno inferior */  
}

footer{
    text-align: center;
    padding: 20px;  /* margen interno */    
    background: #250;
    font-weight: 800; /* grosor de la fuente*/
    color: white;
}

#nav {
    padding: 0; /* margen interno */
    margin: 0; /* margen externo */      
    list-style-type: none; /* quitar viñetas de la lista */    
    overflow: hidden;  /* ocultar lo que se desborde */ 
    background-color: #250;
}

#nav li {
    float: left; /* dirigir la caja hacia la izquierda */ 
}

@media screen and (max-width: 480px) { /* aplicar hasta maximo un ancho de 480*/
    #nav li {
        width: 100%; /* los botones ocupan todo el ancho*/   
    }
}

#nav li a {
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 20px; /* margen interno */     
    display: block; /* ya no se muestra como link sino como bloque */ 
    font-weight: 800; /* grosor de la fuente*/
    text-decoration: none;/* quitar linea de abajo */     
}

.activo {
    background-color: white;
    color: #250 !important; /* prioridad de estilo */
}

#nav li a:hover:not(.active) {
    background-color: #380;
    color: white !important; /* prioridad de estilo */
}
